/* Animation Styles */
.fxt-template-animation {
  position: relative;
  z-index: 1;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-animation .fxt-opacity {
  opacity: 0;
}
.fxt-template-animation .fxt-transformY-50 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.fxt-template-animation .fxt-transformX-L-50 {
  opacity: 0;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}
.fxt-template-animation .fxt-transformX-R-50 {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.loaded.fxt-template-animation {
  opacity: 1;
}
.loaded.fxt-template-animation .fxt-opacity {
  opacity: 1;
  -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loaded.fxt-template-animation .fxt-transformY-50 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loaded.fxt-template-animation .fxt-transformX-L-50 {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loaded.fxt-template-animation .fxt-transformX-R-50 {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loaded.fxt-template-animation .fxt-transition-delay-1 { transition-delay: 0.1s; }
.loaded.fxt-template-animation .fxt-transition-delay-2 { transition-delay: 0.2s; }
.loaded.fxt-template-animation .fxt-transition-delay-3 { transition-delay: 0.3s; }
.loaded.fxt-template-animation .fxt-transition-delay-4 { transition-delay: 0.4s; }
.loaded.fxt-template-animation .fxt-transition-delay-5 { transition-delay: 0.5s; }
.loaded.fxt-template-animation .fxt-transition-delay-6 { transition-delay: 0.6s; }
.loaded.fxt-template-animation .fxt-transition-delay-7 { transition-delay: 0.7s; }
.loaded.fxt-template-animation .fxt-transition-delay-8 { transition-delay: 0.8s; }
.loaded.fxt-template-animation .fxt-transition-delay-9 { transition-delay: 0.9s; }
.loaded.fxt-template-animation .fxt-transition-delay-10 { transition-delay: 1s; }
.loaded.fxt-template-animation .fxt-transition-delay-11 { transition-delay: 1.1s; }
.loaded.fxt-template-animation .fxt-transition-delay-12 { transition-delay: 1.2s; }
.loaded.fxt-template-animation .fxt-transition-delay-13 { transition-delay: 1.3s; }
.loaded.fxt-template-animation .fxt-transition-delay-14 { transition-delay: 1.4s; }
.loaded.fxt-template-animation .fxt-transition-delay-15 { transition-delay: 1.5s; }

/* Layout 33 Styles */
.fxt-template-layout33 {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}
.fxt-template-layout33 .fxt-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-content-wrap {
    display: block;
  }
}
.fxt-template-layout33 .fxt-heading-content {
  padding: 30px;
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-heading-content {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout33 .fxt-heading-content {
    padding: 15px;
  }
}
.fxt-template-layout33 .fxt-heading-content:before {
  content: "";
  border-radius: 0 100px 100px 0;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/figure/bg33-1.jpg');
  top: 0;
  left: 0;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-heading-content:before {
    border-radius: 0;
  }
}
.fxt-template-layout33 .fxt-heading-content .fxt-inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 680px;
  height: 100%;
  padding: 60px 50px;
  border-radius: 30px;
  max-width: 515px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout33 .fxt-heading-content .fxt-inner-wrap {
    padding: 40px 30px;
    border-radius: 15px;
  }
}
.fxt-template-layout33 .fxt-heading-content .fxt-logo {
  margin-bottom: 30px;
  display: block;
  max-width: 35vw;
}
.fxt-template-layout33 .fxt-heading-content .fxt-sub-title {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout33 .fxt-heading-content .fxt-sub-title {
    font-size: 22px;
  }
}
.fxt-template-layout33 .fxt-heading-content .fxt-main-title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-heading-content .fxt-main-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout33 .fxt-heading-content .fxt-main-title {
    font-size: 28px;
  }
}
.fxt-template-layout33 .fxt-heading-content .fxt-description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  max-width: 390px;
  width: 100%;
}
.fxt-template-layout33 .fxt-heading-content .fxt-switcher-description {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.fxt-template-layout33 .fxt-heading-content .fxt-switcher-description .fxt-switcher-text {
  display: table;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.fxt-template-layout33 .fxt-heading-content .fxt-switcher-description .fxt-switcher-text:hover {
  text-decoration: underline;
}
.fxt-template-layout33 .fxt-form-content {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-form-content {
    width: 100%;
  }
}
.fxt-template-layout33 .fxt-form-content .fxt-page-title {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 700;
  color: #14133b;
}
@media only screen and (max-width: 1199px) {
  .fxt-template-layout33 .fxt-form-content .fxt-page-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-form-content .fxt-page-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout33 .fxt-form-content .fxt-page-title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout33 .fxt-form-content .fxt-page-title {
    font-size: 26px;
  }
}
@media only screen and (max-width: 479px) {
  .fxt-template-layout33 .fxt-form-content .fxt-page-title {
    font-size: 24px;
  }
}
.fxt-template-layout33 .fxt-form-content .fxt-description {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}
.fxt-template-layout33 .fxt-form-content .fxt-label {
  color: #14133b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  display: block;
}
.fxt-template-layout33 .fxt-form-content .fxt-main-form {
  padding: 50px 65px 40px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout33 .fxt-form-content .fxt-main-form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout33 .fxt-form-content .fxt-main-form {
    padding: 40px 15px 30px;
  }
}
.fxt-template-layout33 .fxt-form-content .fxt-inner-wrap {
  max-width: 454px;
  width: 100%;
}
.fxt-template-layout33 .fxt-form-content .form-group {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.fxt-template-layout33 .fxt-form-content .form-control {
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  color: #111;
  width: 100%;
  border-radius: 5px;
}
.fxt-template-layout33 .fxt-form-content .fxt-btn-fill {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid;
  border-color: #1ebe92;
  color: #fff;
  border-radius: 10px;
  background-color: #1ebe92;
  padding: 9px 36px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout33 .fxt-form-content .fxt-btn-fill:hover {
  background-color: #099e74;
  border-color: #099e74;
}
.fxt-template-layout33 .fxt-form-content .fxt-btn-fill:disabled {
  background-color: #a0d8c9;
  border-color: #a0d8c9;
  cursor: not-allowed;
}
.fxt-template-layout33.fxt-template-animation .fxt-heading-content:before {
  opacity: 0;
  visibility: hidden;
}
.fxt-template-layout33.loaded.fxt-template-animation .fxt-heading-content:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
